body{
    margin: 0;
    padding: 0;
        background-color:#9abaf1;
}
nav{
    height: 80px;
   color:aliceblue;
   height: 80px;
   background-color:#0f2854 ;
    display: flex;
   flex-direction: row;
   align-items: center;
  

}
a{
    text-decoration: none;
    font-size: 20px;
    color: aliceblue;
    margin-right: 100px;
  
}
.stays{
    margin-left: 280px;
    color: darkgray;
}
.name{
    font-size: 30px;
    margin-left: 20px;
    color: aquamarine;
}
.travel{
    color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content:center;
    text-align: center; 
    background-color: rgb(1, 3, 36);
}
.para{
    color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content:center;
    text-align: center; 
    background-color: rgb(1, 3, 36);
}
.div1{
   
    width: 250px;
    height: 250px;
    margin: 10px 10px 10px 10px
}
.div2{
    
    width: 250px;
    height: 250px;
    margin: 10px 10px 10px 10px
}
.div3{
   
    width: 250px;
    height: 250px;
    margin: 10px 10px 10px 10px
}
.div4{
    
    width: 250px;
    height: 250px;
    margin: 10px 10px 10px 10px
}
.divs{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}